.phone-auth {
  margin: auto;
  text-align: center;
  border: 1px solid black;
  width: 20rem;
  height: 10rem;
}
.payment {
  width: 15rem;
  height: 10rem;
  border: 1px solid black;
  margin: auto;
}
.payment h2 {
  text-align: center;
}
.form_payment {
  text-align: center;
  margin-top: 3rem;
}
